[
   {
      "nickname":"{{getv "/irc/nickname"}}",
      "server":"{{getv "/irc/server"}}",
      "token":"{{getv "/slack/token"}}",
      "autoSendCommands": [ // Commands that will be sent on connect
        ["PRIVMSG", "{{getv "/irc/authbot"}}", "{{getv "/irc/authstring"}}"]
      ],
      "channelMapping":{
         "{{getv "/slack/channel"}}":"{{getv "/irc/channel"}}"
      }
   }
]
